{% extends "layout.html.twig" %}

{% block title %}
{{parent()}} - Détails
{% endblock %}

{% block body %}
<h1>Détails</h1>
<h2>Voici les détails du site</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id eveniet ab ex perspiciatis, laborum perferendis nam recusandae sint sequi? Laborum quis vero porro quod laboriosam, dolor iure consectetur reiciendis deserunt.
Harum, repellendus illum eius distinctio sunt consectetur tempore debitis fugit obcaecati, qui ratione eveniet ipsum facilis impedit, unde atque. Quae incidunt tempora praesentium sequi deserunt sit eligendi, magnam minima numquam.
Possimus molestias totam esse unde, ipsum tenetur necessitatibus deserunt culpa, minima laboriosam repellendus, hic ducimus facilis dolorem? Sunt veritatis, alias accusantium neque reprehenderit itaque adipisci fugit ratione? Debitis, quia ducimus.</p>
{% endblock %}